version: 2.1
parameters:
    repo:
        type: string
        default: "rsksmart/rskj.git"
    version:
        type: string
        default: ""
    branch:
        type: string
        default: "master"
    slack_channel:
        type: string
        default: "integration-tests"
orbs:
  slack: circleci/slack@4.1
jobs:
  build:
    working_directory: ~/smart-contracts
    # The primary container is an instance of the first image listed. The job's commands run in this container.
    docker:
      - image: cimg/openjdk:8.0.292-node

    steps:
      - checkout
      - run:
          name: Avoid hosts unknown for github
          command: mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: Clone and Build RSKj
          command: |
                    GIT_SSH_COMMAND='ssh -i ~/.ssh/id_rsa_fingerprint'
                    git clone -b << pipeline.parameters.branch >> git@github.com:<< pipeline.parameters.repo >> ~/rsksmart/rskj
                    cd ~/rsksmart/rskj/
                    ./configure.sh
                    ./gradlew clean build -x test
                    cd ~/rsksmart/rskj/rskj-core/build/libs/
                    f=`ls *-all.jar`
                    version=`echo $f | cut -c 11-15`
                    echo "export VERSION_FOR_SLACK='${version}'" >> $BASH_ENV
      
      - restore_cache:
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
                - node-v1-{{ checksum "package-lock.json" }}
              
      - run:
          name: Prepare Truffle
          command: |
                    sudo npm install -g truffle@5.6.8
                    truffle_version=`truffle version | cut -c 1-15 | head -1`
                    echo "export TRUFFLE_VERSION_FOR_SLACK='${truffle_version}'" >> $BASH_ENV
                    cd ~/smart-contracts/
                    npm ci 
      - save_cache:
          paths:
                - ~/tmp/node_modules 
          key: node-v1-{{ checksum "package-lock.json" }}

      - run:
          name: Start RskJ & Run Truffle Tests
          command: |
                    java -Dminer.client.autoMine=true -Dblockchain.config.hardforkActivationHeights.iris300=0 -cp ~/rsksmart/rskj/rskj-core/build/libs/rskj-core-*-all.jar co.rsk.Start --regtest nohup &               
                    until nc -z 127.0.0.1 4444
                    do
                      echo "Waiting for RskJ..."
                      sleep 1
                    done
                    npm test


      - store_test_results:
          path: ~/smart-contracts/results
    
      - run:
          name: Upload results to XRAY
          command: |
                    aut_token=`curl -X POST "https://xray.cloud.getxray.app/api/v2/authenticate" -H "Content-Type: application/json" --data-raw "{\"client_id\": \"${XRAY_CID}\", \"client_secret\": \"${XRAY_SECRET}\"}"`
                    curl -X POST "https://xray.cloud.getxray.app/api/v2/import/execution/junit/multipart" -H "Authorization: Bearer ${aut_token:1:-1}" -F "results=@\"/home/circleci/smart-contracts/results/test-results.xml\"" -F "info=@\"/home/circleci/smart-contracts/xray-conf/createTestExecution.json\""
      
      - store_artifacts:
          path: ~/smart-contracts/results


      - slack/notify:
          channel: << pipeline.parameters.slack_channel >>
          custom: |
            {
                "blocks": [
                    {
                        "type": "header",
                        "text": {
                            "type": "plain_text",
                            "text": "RskJ Truffle Tests Passed :white_check_mark:",
                            "emoji": true
                        }
                    },
                    {
                        "type": "section",
                        "fields": [
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Repository*: << pipeline.parameters.repo >>"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Branch*: << pipeline.parameters.branch >>"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Version*: ${VERSION_FOR_SLACK}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Tests Branch*: ${CIRCLE_BRANCH}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Truffle Version*: ${TRUFFLE_VERSION_FOR_SLACK}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Requester*: ${CIRCLE_USERNAME}"
                            }
                        ]
                    },
                    {
                        "type": "actions",
                        "elements": [
                            {
                                "type": "button",
                                "text": {
                                    "type": "plain_text",
                                    "text": "View Job"
                                },
                                "url": "${CIRCLE_BUILD_URL}"
                            }
                        ]
                    }
                ]
                }
          event: pass
      - slack/notify:
          channel: << pipeline.parameters.slack_channel >>
          custom: |
            {
                "blocks": [
                    {
                        "type": "header",
                        "text": {
                            "type": "plain_text",
                            "text": "RskJ Truffle Tests Failed :red_circle:",
                            "emoji": true
                        }
                    },
                    {
                        "type": "section",
                        "fields": [
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Repository*: << pipeline.parameters.repo >>"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Branch*: << pipeline.parameters.branch >>"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Version*: ${VERSION_FOR_SLACK}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Tests Branch*: ${CIRCLE_BRANCH}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Truffle Version*: ${TRUFFLE_VERSION_FOR_SLACK}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Requester*: ${CIRCLE_USERNAME}"
                            }
                        ]
                    },
                    {
                        "type": "actions",
                        "elements": [
                            {
                                "type": "button",
                                "text": {
                                    "type": "plain_text",
                                    "text": "View Job"
                                },
                                "url": "${CIRCLE_BUILD_URL}"
                            }
                        ]
                    }
                ]
                }
          event: fail
      - store_artifacts:
          path: ~/smart-contracts/logs
          destination: ~/tmp/logs
workflows:
    commit:
        jobs:
            - build
    daily:
        triggers:
            - schedule:
                cron: "15 01 * * *"
                filters:
                    branches:
                        only:
                            - master
        jobs:
            - build
